body {
    background-color:peachpuff;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    color: darkblue;
    border: 20px solid purple;
    margin: 50px;
    padding: 30px;
    text-align: center;
    font-size: 80px;
}

h2 {
    font-size: 35px;
    color: brown;
}

.step {
    border: 10px solid brown;
    color: rgb(26, 92, 92);
}

.box {
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    text-align: center;
}

p {
    color: #ff0000;
}